@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);
}

.brightOrange-bg {
	background-color: var(--bright-orange);
}

.brightOrange-bg button {
	color: var(--bright-orange);
}

.darkCyan-bg {
	background-color: var(--dark-cyan);
}

.darkCyan-bg button {
	color: var(--dark-cyan);
}

.veryDarkCyan-bg {
	background-color: var(--very-dark-cyan);
}

.veryDarkCyan-bg button {
	color: var(--very-dark-cyan);
}

body {
	background-color: var(--very-light-gray);
	font-size: 15px;
	font-family: 'Lexend Deca', sans-serif;
}

main {
	border-radius: 5px;
	margin: 88px auto auto;
	max-width: 327px;
}

footer {
	margin-top: 50px;
	text-align: center;
}

footer a {
	color: var(--dark-cyan);
	transition: all 0.2s linear 0ms;
}

footer a:hover {
	color: var(--very-dark-cyan);
}

.previewCard {
	max-height: 442px;
	padding: 48px;
	width: 100%;
}

.previewCard:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.previewCard:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.previewCard p {
	color: var(--transparent-white);
	font-weight: 400;
	margin-bottom: 31px;
}

.btn {
	background-color: var(--very-light-gray);
	border: 2px solid transparent;
	border-radius: 50px;
	padding: 10.75px 31.58px;
	text-transform: capitalize;
	transition: all 0.2s linear 0ms;
}

.btn:hover {
	background-color: transparent;
	border-color: var(--very-light-gray);
	border-width: 2px;
	color: var(--very-light-gray);
	cursor: pointer;
}

h2 {
	color: var(--very-light-gray);
	font-family: 'Big Shoulders Display', cursive;
	font-size: 36px;
	margin-top: 36px;
	margin-bottom: 25px;
	text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
	main {
		display: flex;
		flex-direction: row;
		margin-top: 171px;
		max-width: 920px;
	}

	.previewCard {
		max-height: fit-content;
		max-width: 306px;
		width: auto;
	}

	.previewCard:first-of-type {
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-top-right-radius: 0px;
	}

	.previewCard:last-of-type {
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 5px;
	}

	.previewCard p {
		margin-bottom: 88.5px;
	}
}
